# Assets: only commit gzipped assets without maps
data/assets/dist/*
!data/assets/dist/*.gz
data/assets/dist/*.map.gz

src/assets/node_modules/
src/assets/.parcel-cache/
src/assets/parcel-bundle-reports/

# Nix output
result
