@charset "utf-8";

$fa-font-path: "../fonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$primary: #b83e51;
$secondary: #DC926E;
$success: #6c8d50;
$info: #242331;
$warning: #ea7d18;
$danger: #f44336;
$light: #F4F4F0;
$dark: #262432;

@import "node_modules/bootstrap/scss/bootstrap";
