<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">weBlock</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
            {{#each navLinks}}
                <a class="nav-link{{#equal target @root.navCurrent}} active" aria-current="page{{/equal}}"
                        href="/{{target}}">{{name}}</a>
            {{/each}}
        </div>
    </div>
</nav>

<main class="container p-5">
    <div class="container">
        {{> content }}
    </div>
</main>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
{{#each jsImports}}
    <script src="/assets/js/{{.}}"></script>
{{/each}}

