<h2 class="mt-3 mb-3" id="add-list">Add the list to uBlock settings</h2>

<div class="card shadow-sm me-lg-5 ms-lg-5">
    <video controls muted class="card-img-top">
        <source src="/assets/images/pages/help-add-list.webm" type="video/webm">
    </video>
    {{#if @root.UserLoggedIn}}
        {{#unless has_filters}}

            <div class="card-header text-center p-4">
                Your list does not have any active filter yet!<br/>
                Go to the <a href="{{href "list-filters" ""}}">filter list page</a> first to select some.
            </div>
        {{/unless}}

        <div class="card-body">
            <ul>
                <li>Click on the <code>uBlock Origin</code> extension icon in your browser toolbar, then open the
                    dashboard by clicking on the cog icons. If the cogs don't show up, click on <code>More</code>.
                </li>
                <li>Click on the <code>Filters lists</code> tab, scroll to the bottom</li>
                <li>Click on the <code>Import...</code> checkbox</li>
                <li>Copy the URL to your list:
                    <a onclick="copyListAddress()" class="text-decoration-none" style="cursor: pointer">
                        <span id="list-button" class="badge rounded-pill bg-secondary ms-1">copy it</span>
                        <br/>
                        <code id="list-address">{{list_href list_token}}</code>
                    </a>

                </li>
                <li>Click on <code>Apply changes</code></li>
            </ul>
        </div>
    {{else}}
        <form class="card-body text-center p-4"
              method="POST" action="{{href "start-flow" "loginOrRegistration"}}">
            <div class="mb-3">You need an account to create and use a filter list.</div>
            <div>
                <button type="submit" class="btn btn-primary">Register or Login first</button>
            </div>
        </form>
    {{/if}}
</div>


<h2 class="mt-4 mb-3" id="refresh-list">Manually refresh the filters</h2>

<div class="card shadow-sm me-lg-5 ms-lg-5">
    <video controls muted class="card-img-top">
        <source src="/assets/images/pages/help-refresh-list.webm" type="video/webm">
    </video>
    <div class="card-body">
        <p><em>uBlock Origin</em> will refresh your filters every day, but you can trigger a manual refresh
            to use your new / updated filters :</p>
        <ul>
            <li>Open the <code>uBlock Origin</code> dashboard (see above)</li>
            <li>Click on the <code>Filters lists</code> tab, scroll to the bottom</li>
            <li>Locate the "letsblock.it - My filters" list at the bottom</li>
            <li>Click on the clock icon next to it, then on <code>Update now</code></li>
        </ul>
    </div>
</div>

<h2 class="mt-4 mb-3" id="remove-list">Remove the list from uBlock</h2>

<div class="card shadow-sm me-lg-5 ms-lg-5">
    <video controls muted class="card-img-top">
        <source src="/assets/images/pages/help-remove-list.webm" type="video/webm">
    </video>
    <div class="card-body">
        <ul>
            <li>Open the <code>uBlock Origin</code> dashboard (see above)</li>
            <li>Click on the <code>Filters lists</code> tab, scroll to the bottom</li>
            <li>Locate the "letsblock.it - My filters" list at the bottom</li>
            <li>Click on the red trash can icon next to it, then on <code>Apply changes</code></li>
        </ul>
    </div>
</div>

<script>
    function copyListAddress() {
        let addr = document.getElementById("list-address");
        navigator.clipboard.writeText(addr.innerText);
        addr.classList.add("text-success");
        
        let btn = document.getElementById("list-button");
        btn.classList.replace("bg-secondary", "bg-success");
        btn.innerText = "copied";
    }
</script>