<ul class="list-group list-group-flush p-md-3 pe-md-3 mb-3">
    {{#each .}}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="me-auto">
                <div class="fw-bold">
                    <a class="stretched-link" href="{{href "view-filter" name}}">{{title}}</a>
                    {{#if (lookup @root.data.testing_filters name)}}
                        <span class="text-secondary ms-1 ms-md-2 ms-xl-3">
                            {{>icon name="test-pipe" stroke=2 alt="Test mode enabled"}}</span>
                    {{/if}}
                    {{#if (lookup @root.data.updated_filters name)}}
                    <small><span class="badge bg-success ms-1 ms-md-2 ms-xl-3"
                                 title="Template has new parameters">updated</span></small>
                    {{/if}}
                </div>
            </div>
        </li>
    {{/each}}
</ul>