<ul class="list-group list-group-flush p-md-3 pe-md-3 mb-3">
    {{#each .}}
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="me-auto">
                <div class="fw-bold"><a class="stretched-link" href="{{href "view-filter" name}}">{{title}}</a></div>
            </div>
            <div class="text-end" style="z-index: 2000;">{{#each tags}}{{{tag this}}}{{/each}}</div>
        </li>
    {{/each}}
</ul>