<div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
            <a href="{{href "view-filter" name}}" class="text-reset text-decoration-none h-100">
                <h5 class="card-title">{{title}}</h5>
            </a>
        </div>
        <div class="card-footer">
            {{#each tags}}{{{tag this}}}{{/each}}
        </div>
    </div>
</div>
