{{#each releases}}
    <div class="card mb-3">
        <div class="card-header">
            {{date}}
        </div>
        <div class="card-body">
                {{{Description}}}
        </div>
    </div>
{{/each}}