<div class="card mb-3" hx-boost="false">
    <div class="card-header">My account</div>
    <div class="card-body">
        <p>Account management is provided by <a href="https://www.ory.sh/">the fine folks at Ory</a>.</p>

        <a href="/.ory/init/registration" class="btn btn-primary">New account</a>
        <a href="/.ory/init/login" class="btn btn-primary">Existing user</a>
    </div>
</div>
