<h2>Help center: how to use letsblock.it</h2>

<nav class="navbar navbar-light flex-column align-items-stretch">
    {{#each menu_sections}}
        <a class="navbar-brand">{{this.Title}}</a>
        <nav class="nav nav-pills flex-column">
            {{#each this.Pages}}
                <a class="nav-link {{#equal this.Code @root.Data.page.Code}}active{{/equal}}" href="{{href "help" this.Code}}">{{this.Title}}</a>
            {{/each}}
        </nav>
    {{/each}}
</nav>
