<div role="alert" class="alert alert-secondary has-background-secondary-light">
    Let's Block It is still in an early stage. Don't hesitate to
    <a href="https://github.com/letsblockit/letsblockit/issues">open an issue on GitHub</a> for any question or bug, or
    send us an email at <code>hello@&lt;this-domain&gt;.it</code>.
</div>

<nav class="navbar navbar-light flex-column align-items-stretch">
    {{#each menu_sections}}
        <span class="navbar-brand">{{this.Title}}</span>
        <nav class="nav nav-pills flex-column">
            {{#each this.Pages}}
                <a class="nav-link {{#equal this.Code @root.Data.page.Code}}active{{/equal}}"
                   href="{{href "help" this.Code}}">{{this.Title}}</a>
            {{/each}}
        </nav>
    {{/each}}
</nav>
