<h2>Use your filter list with uBlock</h2>
<div class="card shadow-sm me-lg-5 ms-lg-5">
    {{#if @root.UserLoggedIn}}
        <video controls muted class="card-img-top">
            <source src="/assets/images/pages/help-add-list.webm" type="video/webm">
        </video>

        {{#unless has_filters}}
            <div class="card-header text-center p-4">
                Your list does not have any active filter yet!<br/>
                Go to the <a href="{{href "list-filters" ""}}">filter list page</a> first to select some.
            </div>
        {{/unless}}

        <div class="card-body">
            <ul>
                <li>Click on the <code>uBlock Origin</code> extension icon in your browser toolbar, then open the
                    dashboard by clicking on the cog icons. If the cogs don't show up, click on <code>More</code>.
                </li>
                <li>Click on the <code>Filters lists</code> tab, scroll to the bottom</li>
                <li>Click on the <code>Import...</code> checkbox</li>
                <li>Copy the URL to your list:
                    <a onclick="copyListAddress()" class="text-decoration-none" style="cursor: pointer">
                        <span id="list-button" class="badge rounded-pill bg-secondary ms-1">copy it</span>
                        <br/>
                        <code id="list-address">{{list_href list_token}}</code>
                    </a>

                </li>
                <li>Click on <code>Apply changes</code></li>
            </ul>
        </div>
    {{else}}
        <form class="card-body text-center p-4"
              method="POST" action="{{href "start-flow" "loginOrRegistration"}}">
            <div class="mb-3">You need an account to create and use a filter list.</div>
            <div>
                <button type="submit" class="btn btn-primary">Register or Login first</button>
            </div>
        </form>
    {{/if}}
</div>

<script>
    function copyListAddress() {
        let addr = document.getElementById("list-address");
        navigator.clipboard.writeText(addr.innerText);
        addr.classList.add("text-success");

        let btn = document.getElementById("list-button");
        btn.classList.replace("bg-secondary", "bg-success");
        btn.innerText = "copied";
    }
</script>
