<h2>About this project</h2>

<p>Do you feel like the Internet is harder to navigate every year, and even hostile at times? You are not alone.</p>

<p><a href="https://ublockorigin.com/">uBlock Origin</a> is a popular browser extension to filter out ads, trackers and annoyances.
    Thanks to communities like <a href="https://easylist.to/">EasyList</a> and
    <a href="https://kb.adguard.com/en/general/adguard-ad-filters">AdGuard</a> maintaining high-quality filter lists, we can enjoy a
    less cluttered and distracting Internet.</p>

<p><em>But uBlock Origin is more than an ad-blocker</em>: it is a high-performance, general-purpose content blocker that can
    remove all sort of low-quality or distracting content. Unfortunately, it is not simple to harness its power:</p>

<ul>
    <li>Because everyone has their own definition of “low-quality content”, a single common list cannot work</li>
    <li>There is a steep learning curve to writing custom rules, and website updates can break them regularly</li>
    <li>Unless you use browser profile synchronisation, keeping your custom rules in sync is time-consuming</li>
</ul>

<p>At <a href="https://letsblock.it/filters">Let’s Block It</a>, you can browse a curated list of customizable content filters and
    build your own personal list. Want to
    <a href="https://letsblock.it/filters/search-results">remove pinterest from search results</a>,
    <a href="https://letsblock.it/filters/youtube-shorts">hide youtube shorts</a> or hide that annoying
    <a href="https://letsblock.it/filters/google-search-cleanup">“People also ask” box in google</a>? We have you covered!
    You already have custom rules you want to keep? <a href="https://letsblock.it/filters/custom-rules">Add them to your list</a>
    to keep them synced in all your browsers.</p>

<h4>This project is maintained by a growing community:</h4>
{{#with (all_avatars)}}
    {{>contributors}}
{{/with}}

<h2>Where do I start?</h2>

<p>You can use <a href="https://letsblock.it/filters">our filters</a> without an account, just set your options and
    copy the result in your uBlock Origin settings (in the <code>My rules</code> tab). But we recommend creating an account to:</p>

<ul>
    <li>benefit from the community fixes when the target websites are updated</li>
    <li>sync your filters on several devices</li>
</ul>

<p>It’s as easy as 1-2-3… and 4:</p>

<ol>
    <li>Install <a href="https://ublockorigin.com/">uBlock Origin</a> if you don’t already have it,</li>
    <li><a href="https://letsblock.it/user/account">Create an account</a> to start your list,</li>
    <li>Browse <a href="https://letsblock.it/filters">the filter list</a>, choose and customize your filters,</li>
    <li><a href="https://letsblock.it/help/use-list">Add your personal list</a> to uBlock, on all your browsers, even
        <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Firefox Mobile</a>,</li>
    <li>Give back by <a href="https://letsblock.it/help/contributing">contributing new filters</a> if you can!</li>
</ol>
