name: Add a contributor
on:
  workflow_dispatch:
    inputs:
      username:
        description: 'Username'
        required: true
      contribution:
        description: 'Contribution'
        required: true
        default: 'data'
permissions:
  contents: read

jobs:
  add-contributor:
    runs-on: ubuntu-latest
    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - uses: actions/checkout@v4
      - name: Add contributor
        run: |
          npm install -g all-contributors-cli
          npx all-contributors \
              add ${{ github.event.inputs.username }} ${{ github.event.inputs.contribution }}
      - uses: cachix/install-nix-action@v25
      - uses: cachix/cachix-action@v14
        with:
          name: letsblockit
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix run .#update-contributors
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.BOT_TOKEN }}
          push-to-fork: lbi-bot/letsblockit
          commit-message: "add ${{ github.event.inputs.username }} as contributor"
          title: "add ${{ github.event.inputs.username }} as contributor"
          labels: contributors
          branch: add-contributor
          delete-branch: true
