name: "CI"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Start PostgreSQL
        run: sudo service postgresql start
      - name: Create PostgreSQL user and table
        run: |
          sudo -u postgres psql -c "CREATE USER ${USER}"
          sudo -u postgres psql -c "CREATE DATABASE letsblockit OWNER ${USER}"
          sudo -u postgres psql -c "CREATE DATABASE lbi_tests OWNER ${USER}"
      - uses: actions/checkout@v2.4.0
      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-21.05
      - run: ./run_tests.nix.sh
  vendorSha256:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-21.05
      - run: ./update_vendorsha.nix.sh --check
