name: "CI"
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Start PostgreSQL
        run: sudo service postgresql start
      - uses: actions/checkout@v3
      - name: Create PostgreSQL user and tables
        run: |
          sudo -u postgres psql -c "CREATE USER ${USER}"
          sudo -u postgres psql -c "CREATE DATABASE lbitests OWNER ${USER}"
      - uses: cachix/install-nix-action@v18
      - run: nix run .#run-tests
  check-vendorsha:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - run: nix run .#update-vendorsha -- ./nix/letsblockit.nix --check
