name: "Release container images"
on:
  push:
    branches:
      - main
    tags:
      - '*'
permissions:
  contents: read
  packages: write

jobs:
  container-release:
    runs-on: ubuntu-latest
    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v19
      - name: Build container images
        run: |
          nix build .#render-container && ./result | docker load
          nix build .#server-container && ./result | docker load
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push releases from tag
        if: ${{ github.ref_type == 'tag' }}
        run: |
          ./scripts/push-container.sh render:latest render:$GITHUB_REF_NAME
          ./scripts/push-container.sh render:latest
          ./scripts/push-container.sh server:latest server:$GITHUB_REF_NAME
          ./scripts/push-container.sh server:latest
      - name: Push dev images from branch
        if: ${{ github.ref_type == 'branch' }}
        run: |
          ./scripts/push-container.sh server:latest server-dev:${GITHUB_SHA::7}
          ./scripts/push-container.sh server:latest server-dev:$GITHUB_REF_NAME
      - uses: superfly/flyctl-actions/setup-flyctl@master
        if: ${{ github.ref_type == 'branch' }}
      - name: Deploy official instance
        if: ${{ github.ref_type == 'branch' }}
        run: flyctl deploy -a lbi-prod -i ghcr.io/letsblockit/server-dev:${GITHUB_SHA::7}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
