name: "Filter linting"
on:
  pull_request_target:
    paths:
      - 'data/filters/**'
permissions:
  contents: read  # for actions/checkout to fetch code
  pull-requests: write  # for marocchino/sticky-pull-request-comment to create or update PR comment

jobs:
  filter-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v3
      - name: Run linting and save output
        run: go run ./cmd/utils/ filter-lint > output.txt
      - name: Comment with result
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: filter-lint
          path: output.txt
