name: "Filter linting"
on:
  pull_request:
    paths:
      - 'data/filters/**'
env:
  CODEBLOCK_FENCE: "```"
jobs:
  filter-lint:
    runs-on: ubuntu-latest
#    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Run linting and save output
        run: go test ./src/filters/ > output.txt
      - name: Comment on success
        if: ${{ success() }}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: filter-lint
          path: .github/filter-lint-ok.md
      - name: Failure report generation
        if: ${{ failure() }}
        run: |
          OUTPUT=$(cat output.txt) cat .github/filter-lint-failed.md | envsubst > report.md
      - name: Comment on failure
        if: ${{ failure() }}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: filter-lint
          path: report.md
