name: "Reset staging to main"
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read

jobs:
  reset:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest
    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - uses: actions/checkout@v4
      - run: git push origin main:staging --force
