name: Update Presets
on:
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:
permissions:
  contents: read

jobs:
  update-dep:
    runs-on: ubuntu-latest
    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Download updated presets
        run: go run ./cmd/utils/ update-presets
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.BOT_TOKEN }}
          push-to-fork: lbi-bot/letsblockit
          commit-message: "search-results: update presets"
          title: "search-results: update presets"
          labels: filter-data
          branch: update-presets
          delete-branch: true
