name: Upgrade dependencies
on:
  schedule:
    - cron:  '0 7 * * 6'
  workflow_dispatch:
permissions:
  contents: read

jobs:
  upgrade-deps:
    runs-on: ubuntu-latest
    if: github.repository == 'letsblockit/letsblockit'
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - uses: cachix/cachix-action@v12
        with:
          name: letsblockit
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix run .#upgrade-deps
      - run: nix build
      - run: nix build .#server-container
      - uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.BOT_TOKEN }}
          push-to-fork: lbi-bot/letsblockit
          commit-message: "upgrade external dependencies"
          title: "upgrade external dependencies"
          labels: dependencies
          branch: upgrade-deps
          delete-branch: true
